#    Copyright 2021 Michael Heise (mikiair)
# 
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
# 
#        http://www.apache.org/licenses/LICENSE-2.0
# 
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.

[Unit]
Description = GPIO Light Switch Service
#Documentation = file://...
After = multi-user.target
#ConditionArchitecture= arm arm64
AssertFileNotEmpty=/home/pi/raspi-gpio-lightswitch/raspi-gpio-lightswitch.conf

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/raspi-gpio-lightswitch/raspi-gpio-lightswitch.py
WorkingDirectory=/home/pi/raspi-gpio-lightswitch
User = pi
Group = gpio
#SyslogIdentifier = <Name of logs for the service>
# Restart when there are errors
Restart = on-abnormal 
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy=multi-user.target
